# Byte-compiled/ optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Pycharm confic file
.idea/

*.pyc
*.swp

# C++ build files
calibration_tool/external/calibrate_lidar_camera_source/*build*/
